<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.hbsis.hbgameswiki">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/hb_games_wiki"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/hb_games_wiki_round"
        android:supportsRtl="true"

        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        >
        <activity android:name="br.com.hbsis.hbgameswiki.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="br.com.hbsis.hbgameswiki.MainActivity">
        </activity>
    </application>

</manifest>